{% extends '../base.html' %}
{% load mathfilters %}
{% block content %}

<!-- Blog -->
<section class="blog bgwhite p-t-94 p-b-65">
    <div class="container">
        <div class="sec-title p-b-52">
            <h3 class="t-center">
                주문성공!
            </h3>
            <br/>

            <div style="text-align: center; border: solid; margin: 20px 20% 20px 20%;">
                비회원 주문 조회시 <br/>
                주문코드와 비밀번호를 꼭 기억해주세요!!<br/>
                주문코드: {{result.order_code}}
            </div>
        </div>
    </div>

</section>


{% endblock %}
