{% extends '../base.html' %}
{% load mathfilters %}
{% block content %}
<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m"
         style="background-image: url(/assets/images/icons/order.jpg);">
</section>

<!-- Blog -->
<section class="blog bgwhite p-t-94 p-b-65">
    <div class="container">
        <div class="sec-title p-b-52">
            <h3 class="t-center">
                주문을 원하는가?
            </h3>
        </div>

        <div class="row">

            <form class="col-sm-10 m-l-r-auto" id="orderform" style="padding: 0;">
                <input type="hidden" name="test" id="test"/>
                {% csrf_token %}

                <!-- Cart item -->
                <div class="container-table-cart pos-relative">
                    <div class="wrap-table-shopping-cart bgwhite">
                        <table class="table-shopping-cart">
                            <tr class="table-head">
                                <th class="column-3" style="padding-right: 0;"></th>
                                <th class="column-3" style="width: 150px;">Product</th>
                                <th class="column-3">Option</th>
                                <th class="column-3">Price</th>
                                <th class="column-3">AddPrice</th>
                                <th class="column-2 p-l-70" style="width: 200px; padding: 0px; padding-left: 30px;">
                                    Quantity
                                </th>
                                <th class="column-3">Total-price</th>
                            </tr>

                            {% for cart in cart_list.data %}
                            <tr class="table-row cart-data" id="cart{{cart.product_detail_no}}">
                                <td class="column-3" style="padding: 0;">
                                    <div>
                                        <img src="/media/{{cart.productDetailInfo.productVO.productImgList.0.filename}}"
                                             alt="IMG-PRODUCT" style="position: relative; width: 90px; height: 90px">
                                        <input type="hidden" name="orderDetail[{{forloop.counter0}}][product_detail_no]"
                                               value="{{cart.product_detail_no}}"/>
                                        <input type="hidden" name="orderDetail[{{forloop.counter0}}][cart_no]"
                                               value="{{cart.no}}"/>
                                    </div>
                                </td>
                                <td class="column-3" style="width: 150px; padding: 0;">
                                    {{cart.productDetailInfo.productVO.name}}
                                </td>
                                <td class="column-3" style="padding: 0;">{{cart.productDetailInfo.option_code}}</td>
                                <td class="column-3 price" style="padding: 0;">
                                    {{cart.productDetailInfo.productVO.price}}
                                </td>
                                <td class="column-3 addprice" style="padding: 0;">{{cart.productDetailInfo.add_price}}
                                </td>
                                <td class="column-3" style="padding: 0;">
                                    <input class="size8 m-text18 t-center num-product quantity-val" type="number"
                                           name="orderDetail[{{forloop.counter0}}][quantity]"
                                           value="{{cart.quantity}}">
                                    <input type="hidden" name="orderDetail[{{forloop.counter0}}][price]"
                                           value="{{cart.productDetailInfo.productVO.price|add:cart.productDetailInfo.add_price}}" />
                                </td>
                                <td class="column-3 total" style="padding: 0;"
                                    data-total="{{cart.productDetailInfo.productVO.price|add:cart.productDetailInfo.add_price|mul:cart.quantity}}">
                                    {{cart.productDetailInfo.productVO.price|add:cart.productDetailInfo.add_price|mul:cart.quantity}}
                                </td>

                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>

                <br/>
                <hr/>
                <div class="size15 ">
                    <input class="sizefull t-center" type="text" value="주문정보" readonly/>
                </div>
                주문인 이름<br/>
                <div class="bo4 size15 m-b-20">
                    <input class="sizefull s-text7 p-l-22 p-r-22" type="text" id="order_name" name="order_name"
                           placeholder="이름"/>
                </div>

                <div class="of-hidden size2" style="height:25px">
                    주문인 주소
                </div>
                <div class="bo4 of-hidden size15 m-b-20">
                    <input class="sizefull s-text7 p-l-22 p-r-22 addr order_addr" type="text" id="order_addr1"
                           placeholder="주소 검색" readonly/>
                </div>
                <div class="bo4 of-hidden size15 m-b-20">
                    <input class="sizefull s-text7 p-l-22 p-r-22 order_addr" type="text" id="order_addr2"
                           placeholder="상세주소"/>
                    <input type="hidden" name="order_addr" id="order_addr"/>
                </div>
                주문인 일반전화
                <div class="bo4 of-hidden size15 m-b-20">
                    <input class="sizefull s-text7 p-l-22 p-r-22" type="text" id="order_tel_home" name="order_tel_home"
                           placeholder="일반전화"/>
                </div>
                주문인 휴대전화
                <div class="bo4 of-hidden size15 m-b-20">
                    <input class="sizefull s-text7 p-l-22 p-r-22" type="text" id="order_tel_phone"
                           name="order_tel_phone"
                           placeholder="휴대전화"/>
                </div>
                주문인 이메일
                <div class="bo4 of-hidden size15 m-b-20">
                    <input class="sizefull s-text7 p-l-22 p-r-22" type="text" id="order_email" name="order_email"
                           placeholder="이메일"/>
                </div>

                주문 비밀번호
                <div class="bo4 of-hidden size15 m-b-20">
                    <input class="sizefull s-text7 p-l-22 p-r-22" type="password" id="pw" name="pw"
                           placeholder="주문 비밀번호"/>
                </div>

                <br/>
                <hr/>
                <div class="size15">
                    <input class="sizefull t-center" type="text" value="배송정보" readonly/>
                </div>

                <div class="size15">
                    <label>주문정보와 동일
                        <input type="checkbox" id="check"/>
                        <div class="control-indicator"></div>
                    </label>
                </div>

                수령인
                <div class="bo4 of-hidden size15 m-b-20">
                    <input class="sizefull s-text7 p-l-22 p-r-22" type="text" id="receiver_name" name="receiver_name"
                           placeholder="이름"/>
                </div>

                수령인 일반전화
                <div class="bo4 of-hidden size15 m-b-20">
                    <input class="sizefull s-text7 p-l-22 p-r-22" type="text" id="receiver_tel_home"
                           name="receiver_tel_home"
                           placeholder="일반전화"/>
                </div>

                수령인 휴대전화
                <div class="bo4 of-hidden size15 m-b-20">
                    <input class="sizefull s-text7 p-l-22 p-r-22" type="text" id="receiver_tel_phone"
                           name="receiver_tel_phone"
                           placeholder="휴대전화"/>
                </div>

                배송지주소
                <div class="bo4 of-hidden size15 m-b-20">
                    <input class="sizefull s-text7 p-l-22 p-r-22 addr deliver_addr" type="text" id="deliver_addr1"
                           placeholder="주소 검색" readonly/>
                </div>
                <div class="bo4 of-hidden size15 m-b-20">
                    <input class="sizefull s-text7 p-l-22 p-r-22 deliver_addr" type="text" id="deliver_addr2"
                           placeholder="상세주소"/>
                    <input type="hidden" name="deliver_addr" id="deliver_addr"/>
                </div>

                배송메시지
                <div class="bo4 of-hidden size15 m-b-20">
                    <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="deliver_msg"
                           placeholder="배송메시지"/>
                </div>

                <br/>
                <hr/>
                <div class="size15">
                    <input class="sizefull t-center" type="text" value="결제정보" readonly/>
                </div>

                결제금액
                <div class="bo4 of-hidden size15 m-b-20">
                    <input class="sizefull s-text7 p-l-22 p-r-22" type="text" id="payment"
                           placeholder="payment"
                           value="0"
                           readonly/>
                    <input type="hidden" id="payment-hidden" name="payment"/>
                </div>

                결제수단
                <div class="of-hidden size15 m-b-20">
                    <label class="btn btn-primary">
                        <input type="radio" name="pay_method" value="kakaopay" checked="checked"> 카카오페이
                    </label>
                </div>

                <div class="of-hidden size15 m-b-20">
                    <!-- Button -->
                    <button id="orderbtn" class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4">
                        주문 및 결제 고고..
                    </button>
                </div>
        </div>
        </form>

    </div>
    </div>
</section>

{% endblock %}

{% block script %}
<script src="/assets/vendor/jquery/jquery.serializeObject.min.js"></script>
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script>
$(document).ready(function(){

    var orderform = $("#orderform");

    // Daum 주소 검색 서비스
    $(".addr").click(function(e){
        e.preventDefault();
        var addr_input = $(this);
        var id = $(this).attr("id").substring(0, $(this).attr("id").length -1);

        new daum.Postcode({
            oncomplete: function(data) {
                addr_input.val(data.address + " (" + data.zonecode + ")");
                $("#" + id).val(data.address + " (" + data.zonecode + ")");
            }
        }).open();

    });

    // 숫자 타입에서 쓸 수 있도록 format() 함수 추가
    Number.prototype.format = function(){
        if(this==0) return 0;

        var reg = /(^[+-]?\d+)(\d{3})/;
        var n = (this + '');

        while (reg.test(n)) n = n.replace(reg, '$1' + ',' + '$2');

        return n;
    };

    // 주문 정보와 동일
    $("#check").change(function(e){
        e.preventDefault();
        if($("#check").is(":checked")){
            $("#receiver_name").val($("#order_name").val());
            $("#deliver_addr1").val($("#order_addr1").val());
            $("#deliver_addr2").val($("#order_addr2").val());
            $("#deliver_addr").val($("#order_addr").val());
            $("#receiver_tel_home").val($("#order_tel_home").val());
            $("#receiver_tel_phone").val($("#order_tel_phone").val());
        }
    });

    var payment = 0;
    $(".total").each(function(){
        $(this).html(($(this).data('total')).format() + "원");
        payment += $(this).data('total');
    });

    $("#payment-hidden").val(payment);
    $("#payment").val((payment).format() + "원");

    // 주소 처리
    $(".order_addr").change(function(e){
        e.preventDefault();
        $("#order_addr").val($("#order_addr1").val() + " " + $("#order_addr2").val());
        console.log($("#order_addr").val());
    });
    $(".deliver_addr").change(function(e){
        e.preventDefault();
        $("#deliver_addr").val($("#deliver_addr").val() + " " + $("#deliver_addr").val());
        console.log($("#deliver_addr").val());
    });

    // 주문 및 결제 버튼
    $("#orderbtn").click(function(e){
        e.preventDefault();

        $("#test").val(JSON.stringify(orderform.serializeObject()));
        orderform.attr("action","/shoppingmall/order").attr("method","post").submit();
    });

});



</script>
{% endblock %}