{% extends '../base.html' %}
{% block content %}
	<!-- Blog -->
	<section class="blog bgwhite p-t-94 p-b-65">
		<div class="container">
			<div class="sec-title p-b-52">
				<h3 class="m-text5 t-center">
					Login
				</h3>
			</div>

			<div class="row">

				<div class="col-sm-10 col-md-4 p-b-30 m-l-r-auto">
						아이디
						<div class="bo4 of-hidden size15 m-b-20">
							<input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="name" placeholder="Id" />
						</div>
						비밀번호
						<div class="bo4 of-hidden size15 m-b-20">
							<input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="phone-number" placeholder="Password" />
						</div>

						<div class="col-sm-10 col-md-4 p-b-30 m-l-r-auto">
							<!-- Button -->
							<button class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4">
								로그인
							</button>
						</div>

						<div class="col-sm-10 col-md-4 p-b-30 m-l-r-auto">
							<!-- Button -->
							<button class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4">
								회원가입
							</button>
						</div>
				</div>

			</div>
		</div>
	</section>

{% endblock %}
